<table mat-table [dataSource]="tasks" class="ob-table ob-table-sm ob-table-cicd">
  <ng-container matColumnDef="createdAt">
    <th *matHeaderCellDef mat-header-cell>{{ "i18n.process.task.created" | translate }}</th>
    <td *matCellDef="let row" mat-cell>{{ row.createdAt | date : "dd.MM.yyyy HH:mm:ss" }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th *matHeaderCellDef mat-header-cell>{{ "i18n.process.task.name" | translate }}</th>
    <td *matCellDef="let row" mat-cell>{{ row?.name[this.translate.currentLang] }}</td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th *matHeaderCellDef mat-header-cell>{{ "i18n.process.task.state" | translate }}</th>
    <td *matCellDef="let row" mat-cell>
      @if (row.state === 'NOT_PLANNED') {
        <span><mat-icon svgIcon="question_circle" style="color: blue" class="custom-icon-style"></mat-icon></span>
      }
      @if (row.state === 'PLANNED') {
        <span><mat-icon svgIcon="calendar" class="custom-icon-style" style="color: #00813a"></mat-icon></span>
      }
      @if (row.state === 'COMPLETED') {
        <span><mat-icon svgIcon="checkmark_circle" class="custom-icon-style" style="color: #00813a"></mat-icon></span>
      }
      @if (row.state === 'NOT_REQUIRED') {
        <span><mat-icon svgIcon="prohibition" style="color: #b4b4b4" class="custom-icon-style"></mat-icon></span>
      }
      @if (row.state === 'UNKNOWN') {
        <span><mat-icon svgIcon="question_circle" style="color: #b4b4b4" class="custom-icon-style"></mat-icon></span>
      }
      @if (row.state === 'DELETED') {
        <span><mat-icon svgIcon="xmark_circle" style="color: #de3510" class="custom-icon-style"></mat-icon></span>
      }
      {{ "i18n.process.task.state." + row.state | translate }}
    </td>
  </ng-container>

  <tr *matHeaderRowDef="['createdAt', 'name', 'state' ]" mat-header-row></tr>
  <tr *matRowDef="let row; let i = index; columns: ['createdAt', 'name', 'state']"
    (click)="selectTask(i)"
    [class.selected]="i === selectedTaskIndex"
    mat-row>
  </tr>
</table>
